.about {
  margin-left: 14px;
  cursor: pointer;
  font-size: 20px;
}
.about:hover {
  color: #b9b9b9;
}

.modal {
  font-size: 16px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.checkOut {
  padding-top: 0.7rem;
}
.links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.3rem;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
