/* cart popover */
.popoverContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: #b8b8b8 1px solid;
}

.popover {
  margin-top: 0.7em;
  display: flex;
}

.popoverText {
  display: flex;
  justify-content: space-between;
}

.emptyCart {
  text-align: center;
  color: #6d6d6d;
  margin: 10px;
}

.cartTotal {
  justify-content: space-between;
}

.brand {
  font-size: 14px;
}

.model {
  font-size: 14px;
}

.priceAndX {
  display: flex;
}

.price {
  margin-top: 0.8em;
  margin-right: 10px;
  font-size: 14px;
}

.xIcon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
.xIcon:hover {
  color: #b9b9b9;
}

.button {
  background-color: #151515;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 0 0 10px;
  outline: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button:hover {
  background-color: #b9b9b9;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end of cart popover style */
